<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.dinizdesenvolve.planejar" android:versionName="1.0.7" android:installLocation="auto" android:versionCode="7">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Planejar Para O Sucesso" android:icon="@drawable/ic_planejar"></application>
</manifest>